[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
stdout_callback = yaml
host_key_checking = False
retry_files_enabled = False
timeout = 30
forks = 10

[privilege_escalation]
become = false

[winrm]
transport = kerberos,ntlm

[powershell]
module_lang = en-US
